<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <h1 class= "top-headline">ComeCome</h1>
  </head>

  <body>
    <div class= "top-caption">Welcome to ComeCome!</div>
    <div class= "top-caption">Welcome to ComeCome!</div>
    <div class= "top-caption">Welcome to ComeCome!</div>

  </body>
</html>

