<h1 class>CAFE INDEX</h1>

 <% @caves.each do |cafe| %>
      <tr>
        <div class="cafe-item">
          <section class="cafe-text">
            <td class><%= cafe.id %></td>
            <td class><%= cafe.name %></td>
            <td class><%= cafe.email %></td>
            <td class>
              <button class><%#= link_to "DETAIL", admin_cafe_path(menu.id) %></button>
            </td>
          </section>
        </div>
      </tr>
    <% end %>

  <h3>ここに入るはず</h3>
<button class><%= link_to "ADD CAFE", new_admin_cafe_path %></button>