<div class>
  <h1 class>User Info</h1>
</div>

<table class="table table-striped">

  <tr>
    <th>name</th>
    <th><%= @user.first_name %><%= @user.last_name %></th>
  </tr>

  <tr>
    <th>email</th>
    <th><%= @user.email %></th>
  </tr>

</table>
